body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}
body {
  background: #FFFFFF;
}
.header {
  background-color: #008000;
  height: 300px;
  background-position: center;
}

.Redme {
  margin: 10px;
  padding: 30px 30px 40px 30px;
  background-color: #FFFFFF;
  overflow: auto;
  width: 45%;
  border-radius: 4px;
  align-self: center;
}
.Redme p{
  color: #FFFFFF;
  background-color: #000000;
  text-align: left;
  display: inline;
}
.Greenme div {
  font: inherit;
  padding: 20px;
  color: #008000;
  overflow: auto;
  opacity: 0.9;
}

.Greenme p {
  color:#008000;
  background-color: #FFFFFF;
  text-align: left;
}

.green {
  background-color: DarkSeaGreen;
}
h1 {
  color: #FFFFFF;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #FF0000;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: green;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  background: #8B0000;
  font-size: 20px;
  line-height: .9em;
  font-weight: 400;
  display: inline-block;
}

p {
  color: #000000;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

